.projects-page__border {
  border: 4px solid white;
  border-radius: 6%;
  padding: 40px;
  margin-top: 12rem;
}

.card h2 {
  font-family: var(--bold-font);
}

.card img {
  object-fit: cover;
  height: 100%; /* Ensures the image covers the entire height of its parent */
}

.card:nth-child(1) {
  border: 8px solid rgba(0, 196, 204, 1);
}

.card:nth-child(2) {
  border: 8px solid rgba(232, 232, 232, 1);
}

.card:nth-child(3) {
  border: 8px solid rgba(255, 7, 171, 1);
}
