.about-page__border {
  border: 4px solid white;
  border-radius: 6%;
  padding: 40px;
}

.about-page__text h1 {
  font-family: var(--bold-font);
}

.about-page__text p {
  font-size: larger;
}

@media (max-width: 992px) {
  .about-page__text p {
    font-size: medium;
  }
}
