* {
  --text-color: #ffffff;
  --bg-color: #000000;
  --primary-gradient: linear-gradient(
    125deg,
    rgba(0, 196, 204, 1) 0%,
    rgba(232, 232, 232, 1) 50%,
    rgba(255, 7, 171, 1) 100%
  );
  --bold-font: "BoldFont", sans-serif;
}

@font-face {
  font-family: "Bold Font";
  src: url("../public/fonts/Agrandir-GrandHeavy.otf") format("otf");
}
